.header{ 
      height: 100vh;
    //   background-image: linear-gradient(to top, #86dfec, #aee5fb, #d2ebff, #eef4ff, #ffffff);
      background-image: linear-gradient(to top, #d899e9, #dcb5f4, #e3cffb, #eee7fe, #ffffff);
      z-index: -1;
      position: relative;
    .navBar{
        display: flex !important;
        justify-content: space-between !important;   
        padding: 20px 0;
        align-items: center ;
      .logo{
         img{
             width: 130px;
         }
      }
      .nav_item{
          ul{
                li{
                    padding-left:  30px; 
                    cursor: pointer;
                    position: relative;
                    display: inline-block;
                    &:hover a{
                       width: 100%;
                    }
                    &:hover .sub_down{
                        top: 40px;
                        opacity: 1;
                        margin-top: 0;
                        visibility: visible;
                        padding: 10px 10px 10px 10px;
                    }
        
                    a{
                        font-size: 17px;
                        font-weight: 500;
                        color: black; 
                        .droppper{
                            font-size: 16px;
                        }
                        &:hover{
                            color: $primaryColor;
                        }
                    }
                    .sub_down{
                        background-color: $white;
                        border-radius: 10px;
                        padding: 10px 10px 10px 10px;
                        box-shadow: 1px 1.732px 20px 0px rgba(0,0,0,0.3);   
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        visibility: hidden;
                        display: block;
                        width: 250px; 
                        border: none !important;
                        opacity: 0;
                        top: 70px;
                        left: 0;
                        padding: 0;
                        z-index: 9999999;
                      li{
                           padding: 10px 10px;
                           width: 100%;
                           &:hover{
                               background-color: $primaryColor;
                               width: 100%;
                           } 
                           &:hover a{
                            color: $white ; 
                        } 
                          a{
                            font-size: 17px;
                            font-weight: 400;
                            color: black;
                          }
                 }
                }
                  .contact{
                      padding: 10px 20px;
                      background-color: $primaryColor;
                      border-radius: 7px;
                      -webkit-border-radius: 7px;
                      -moz-border-radius: 7px;
                      -ms-border-radius: 7px;
                      -o-border-radius: 7px;
                      color: $white !important;
}
              }
          }
      }
    } 
    .banner{
        padding-top: 70px;
        .bannerImg{
            animation: updown3 9s infinite linear;
            -webkit-animation: updown3 7s infinite linear;
            position: relative;
            .images_overly{
                 .roll-1{
                     position: absolute;
                     top: 45px;
                     left: 230px;
                     img{
                         animation: rotat 4.3s infinite linear;
                         -webkit-animation: rotat 4.3s infinite linear;
}
                 }
                 .roll-2{
                    position: absolute;
                    bottom: 25px;
                    right: 130px;
                    img{
                        animation: rotat 3s infinite linear;
                        -webkit-animation: rotat 3s infinite linear;
}
                }
            }
        }
        .one{
            text-align: center;
            animation: updown3 5s infinite linear;
            -webkit-animation: updown3 5s infinite linear;
      .profileImg{
                position: relative;
                .profile_overly{
                    position: absolute;
                    top: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    img{
                        width: 65px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
}
                }
            }
       .profileInfo{
           padding: 10px 25px 3px 25px;
           display: inline-block;
           background-color: $white;
           box-shadow: 1px 1.332px 4px 1px #7c7c7c4d;
           border-radius: 5px;
           -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
           -ms-border-radius: 5px;
           -o-border-radius: 5px;
      h5{
                 font-size: 14px;
                 color: $black;
                 font-weight: 500;
             }
             p{
                font-size: 13px;
                color: rgba(16, 16, 16, 0.6);
                font-weight: 400;
                line-height: 10px;
            }
            }
        }
        .margin_top{
            margin-top: 60px !important;
        }
    }
    .client{
        .clientMain{
            position: absolute;
            bottom: 0;
    
            .sliderT{
                  width: 1080px;
                  padding: 25px 20px 20px 20px;
                  box-shadow: 1px 1.332px 4px 2px #7c7c7c4d;
                  border-radius: 5px;
                  display: flex; 
                  background-color: #fff;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  -ms-border-radius: 5px;
                  -o-border-radius: 5px;
                  .slidItem{
                         width: 10%;
                         text-align: center;
                         img{
                             width: 100px;
                         }
                  }
              }
        }
    }
}
@keyframes rotat{
    from {
        -webkit-transform: rotate(0deg);
}
to {
        -webkit-transform: rotate(359deg);
}
}
@keyframes updown3{
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
      40% {
        -webkit-transform: translate3d(0,-25px,0);
        transform: translate3d(0,-25px,0);
        -moz-transform: translate3d(0,-25px,0);
        -ms-transform: translate3d(0,-25px,0);
        -o-transform: translate3d(0,-25px,0);
}
      100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
}